body{
    background-color: burlywood;
    
}

.container{
    width: 100%;
    background-color: burlywood;
    margin: 1%;
    align-content: center;
    align-items: center;
    text-align: center;
    
}
#burger-list{
    width: 30%;
}

#devoured-burgers-list{
    background-color: wheat;
    float: right;
}

#burger-img{
    margin-left: 2%;
    height: 250px;
    width: 400px;
}

#burger_search{
    margin-top: 2%;
    margin-bottom: 10%;
    padding: 5%;
}